@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
html,body{
    font-family: "Sawarabi Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0px;
}
.icon{
    margin:20px;
    height:45px;
    /*width:300px;*/
    transition: all 1s;
}
.icon:focus{
    position:absolute;
    margin:50px;
    height:90px;
    width:auto;
}
.pc-nav{
    position:fixed;
    top:0px;
    display: flex;
    width:100%;
    box-shadow: 0 2px 2px 0 gainsboro, inset 0 -1px 0px -2px ;
    height:85px;
}
@media screen{(max-width:600px;)} {
    
}
.links a{
    margin-left:20px;
    color:rgb(90, 187, 219);
    text-decoration: none;
    transition: all 0.5s;
}
.links a:hover{
    color:lightblue;
}
.button{
    margin-top:20px;
    padding:10px;
    background-color: coral;
    color:#fff;
    text-decoration: none;
    display:block;
    width:80%;
    text-align: center;
    border-radius:20px;
}
.links{
    font-weight:bold;
    margin-top:30px;
    float:right;
    text-align:right;
    margin-left:auto;
    margin-right:60px;
}
.start_contents{
    margin-top:85px;
}
.cover_image_box{
    text-align: center;
}
.cover_image{
    display:inline-block;
    text-align: center;
    margin-left: auto;
    height:calc(100% - 100px);
}
.container{
    width:calc(100% - 90px);
    margin-left:30px;
    margin-right:30px;
}
.title_context{
    display: inline-block;
    color:#233B6C;
    margin-top:20vh;
    margin-left:15vw;
}
.linkbox{
    border: radius 20%;
    padding: 20px;
    margin-left:20vw;
    width:50%;
    box-shadow: 0 2px 2px 0 gainsboro, inset 0 -1px 0px -2px ;
}
.discription_context{
    display: inline-block;
    color:#233B6C;
    margin-top:20px;;
    margin-left:15vw;
}
.footer{
    background:rgb(245, 242, 242);
    padding:20px;
}